h1 {
  color:red
}
h2 {
  color:blue
}
ul{
  color: red
}
li{
  color:blue
}
button{
  color:black;
  border: 5px solid  blue;
  background-color:red;
}
body {
  background-color: lightblue;
}
div {
  color:brown;

}
